# aws:
boto3

# Data Manipulation libraries:
numpy
pandas
scipy

# ML related  libraries:
scikit-learn

# NLP libaries:
nltk

# pytorch:
torch

# transformers library:
transformers
sentencepiece
transformers[torch]

# Deployment libraries:
flask

# Others
datasets
ensure
accelerate
seqeval

# dvc:
dvc

# mlflow:
mlflow

-e.