boto3
numpy
pandas
scipy
scikit-learn
nltk
torch
transformers
sentencepiece
transformers[torch]
flask
Flask
Flask-Cors
datasets
ensure
accelerate
seqeval
ensure
python-box==6.0.2
dvc
mlflow
pyYAML
tqdm
-e.
